<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8" />
		<title>Quest - {% block title %}Quest{% endblock %}</title>
		
		<!-- Cascading Style Sheet Head -->
		<link rel="stylesheet" type="text/css" media="all" href="{{ RESOURCE }}/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ RESOURCE }}/jqueryui/css/smoothness/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet/less" type="text/css" media="all" href="{{ RESOURCE }}/css/main.less" />
		{% block csshead %}{% endblock %}
		
		<!-- JavaScript Head -->
		<script type="text/javascript" src="{{ RESOURCE }}/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="{{ RESOURCE }}/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ RESOURCE }}/jqueryui/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="{{ RESOURCE }}/js/less-1.6.0.min.js"></script>
		{% block jshead %}{% endblock %}
		
		{% block mischead %}{% endblock %}
		
	</head>
	
	<body>
	
		<header>
			<h1 class="hide">Quest</h1>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Mobile Display With Title -->
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navigationHead">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ HOST }}/">Quest</a>
					</div>
					<div id="navigationHead" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li{{ (PATH == '/') ? ' class="active"' : '' }}><a href="{{ HOST }}/">Home</a></li>
							<li{{ (PATH == '/user') ? ' class="active"' : '' }}><a href="{{ HOST }}/user">User</a></li>
							<li{{ (PATH == '/team') ? ' class="active"' : '' }}><a href="{{ HOST }}/team">Team</a></li>
							<li{{ (PATH == '/event') ? ' class="active"' : '' }}><a href="{{ HOST }}/event">Event</a></li>
							<li{{ (PATH == '/game') ? ' class="active"' : '' }}><a href="{{ HOST }}/game">Game</a></li>
							<li{{ (PATH == '/achievement') ? ' class="active"' : '' }}><a href="{{ HOST }}/achievement">Achievement</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							
							{% if _USERNAME %}
							<li{{ (PATH == '/documentation') ? ' class="active"' : '' }}><a href="{{ HOST }}/documentation">Documentation</a></li>
							<li><a href="{{ HOST }}/logout">Logout</a></li>
							{% endif %}
							
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="main" class="container">
		{% block body %}
		{% endblock %}
		</section>
		
		<footer>
		</footer>
		
		<!-- JavaScript Tail -->
		{% block jstail %}
		{% endblock %}
	
	</body>

</html>